.projectnavi-block {
    margin-top: 2% !important;
}

.projectnavi-title {
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    color: #fff;
    border-color: #AF32FF !important;
}

.projectnavi-video-block {
    margin-top: 6% !important;
}

.projectnavi-description-block {
    margin-top: 6% !important;
}

.projectnavi-description {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
}

.projectnavi-img-list {
    margin-top: 6% !important;
}

.projectnavi-img-list img {
    width: 320px;
}
