body {
    background-color: #0C0C0C;
    font-family: 'Asap', sans-serif;
    color: #fff;
}

.navbar-custom {
    background-color: #161616;
    border-bottom: 1px solid #AF32FF;
}

.logo-text {
    font-family: 'Caveat', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #AF32FF;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-toggler-bg {
    background-color: #D3D3D3;
}

.nav-item a {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    padding-left: 25px!important;
    padding-right: 0px!important;
    padding-bottom: 0px;
}

    .nav-item a:hover {
        color: #AF32FF;
    }

.intro-block {
    width: 1193px;
    height: 488px;
    background-color: #161616;
}
